
 <div class="container">
 	<h1>COW -Twitter</h1>
		<%=@user.email%>
		<li> <a href="/sign_out"</a></li>
		<form action ='/sign_out' method = 'post'>
		 Logout:
		<br><input type="submit" value"Log out"><br>
	</form>
</div>
<div class="container"
  <% if @tweets%>
	<ul>
      <% @tweets.each do |t| %>
    	<li> <a href="/tweets/<%=tweet.user.username%>" ><%= "#{tweet.content}" %></a></li>
 		<%end%>
 	</ul>
 	<form action="/tweets" method="post">
 	content:
 	<br><input type="text" name="content">
 	<br><input type="submit" name="create post">
 </form>
</div>





