<div class="container">
  <h1>COW -Twitter</h1>
  <h2>Users</h2>
  <table>
    <% if @users %>
      <% @users.each do |user| %>
        <% (@current_user.followees.include?(user)) ? connection_change = 'unfollow' : connection_change = 'follow' %>
        <tr>
          <td><%= user.username %></td>
          <td>
            <form  action="/users/#{connection_change}/#{user.id}" method='post'>
              <input type='submit' value="#{connection_change}" />
            </form>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
